.buy-item {
  display: grid;
  justify-items: center;
  background-color: var(--clr-neutral-100);
  padding: 2em;
}

.buy-item__btns-wrapper {
  display: grid;
  gap: 0.625rem;
  margin-top: 1.5rem;
}

.buy-item .item-quantity__btn-input-wrapper {
  height: 2.5rem;
}
