.checkout {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em;
  background-color: var(--clr-neutral-100);
  border: 1px solid var(--clr-neutral-700);
  border-radius: 0.5rem;
}

.checkout__paragraph {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: hsla(var(--clr-neutral-700-hsl), 0.75);
}

.checkout__paragraph > strong {
  font-weight: 700;
  color: var(--clr-neutral-700);
}

.checkout .btn {
  font-weight: 700;
}
