.item-price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.item-price__original {
  font-size: 0.75rem;
  opacity: 0.7;
}

.item-price__discount {
  font-weight: 700;
}
