.item-preview {
  display: grid;
  grid-row-gap: 1rem;
  height: 100%;
  padding: 1em;
  background-color: var(--clr-neutral-100);
  border: 1px solid hsla(var(--clr-neutral-700-hsl), 0.5);
  border-radius: 0.5rem;
  transition: transform 200ms ease;
}

.item-preview > .item-price {
  align-self: end;
}

.item-preview a {
  color: var(--clr-neutral-700);
  text-decoration: none;
}

.item-preview__img-wrapper {
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--clr-neutral-700);
  position: relative;
}

.item-preview__img {
  width: 90%;
  max-width: 250px;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.item-preview__img-wrapper .rating {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
}

.item-preview__name {
  text-align: center;
}
