.item {
  padding: 2em;
  background-color: var(--clr-neutral-100);
}

.item__rating-wrapper {
  display: inline-flex;
  align-items: center;
}

.item__name {
  font-size: 1.75rem;
  margin-top: 0.5rem;
}

.item__hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 45rem;
  margin: 0 auto;
}

.item__hero > * {
  flex-grow: 1;
}

.item__image {
  display: block;
  width: 100%;
  max-width: 20rem;
  padding: 2em;
  margin: 0 auto;
  object-fit: contain;
}

.item__paragraph {
  font-size: 1.25rem;
  margin-top: 1rem;
}

.item__paragraph > span {
  font-weight: 700;
}

.item .item-price__discount {
  font-size: 2rem;
}
