.item__info {
  padding: 2em;
  background-color: var(--clr-neutral-100);
}

.item__rating-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.item__rating-count {
  color: hsla(var(--clr-neutral-700-hsl), 0.5);
}

.item__name {
  font-size: 1.5rem;
}

.item__img {
  width: 50%;
  max-width: 300px;
  object-fit: contain;
  margin: 2rem auto 0 auto;
}

.item__paragraph {
  margin-top: 0.5rem;
}

.item__paragraph > span {
  font-weight: 700;
}

.item__line {
  display: block;
  width: 50%;
  height: 1px;
  background-color: hsla(var(--clr-neutral-700-hsl), 0.25);
  margin: 2rem auto;
}

.item .item-price {
  margin-top: 1rem;
}

.item .item-price__discount {
  font-size: 2rem;
}
