.items {
  padding: 1em;
}

.items__title {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1em;
  color: var(--clr-neutral-200);
  background-image: linear-gradient(
    45deg,
    var(--clr-primary-400) 30%,
    var(--clr-primary-200)
  );
  border-radius: 0.25rem;
}

.items__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
  margin-top: 0.5rem;
}
