.item-quantity {
  width: 100%;
  max-width: 15rem;
}

.item-quantity__title {
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
}

.item-quantity__btn-input-wrapper {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 0.25rem;
  align-items: stretch;
  margin-top: 0.25rem;
}

.item-quantity__input {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--clr-neutral-700);
}

.item-quantity__input:invalid {
  border-color: var(--clr-danger);
}
