.rating {
  display: inline-flex;
  align-items: center;
  gap: 0.25em;
}

.rating__rate {
  display: inline-flex;
  align-items: center;
  padding: 0.25em 0.35em;
  text-align: center;
  font-size: 0.875rem; /* 14px */
  color: var(--clr-neutral-200);
  border-radius: 0.25rem;
}

.rating__rate::after {
  --size: 0.75em;

  content: "";
  width: var(--size);
  height: var(--size);
  background-image: url("../assets/icons/star_hollow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.rating__count {
  opacity: 0.75;
}

.rating__rate.good {
  background-color: hsla(100, 100%, 25%, 1);
}

.rating__rate.decent {
  background-color: hsla(35, 100%, 50%, 1);
}

.rating__rate.bad {
  background-color: hsla(0, 100%, 25%, 1);
}
