.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  padding: 0.25em 0.5em;
  background-color: hsla(100, 100%, 25%, 1);
  text-align: center;
  color: var(--clr-neutral-200);
  border-radius: 0.25rem;
}
